<% provide(:title, 'Help') %>
<h1>CX</h1>
<p>
  <a href="localhost:3000">COLUMBIA EXCHANGE</a>
  Need some help? Or if have anything to say about CX,
</p>
<p>
	Email ben2113@columbia.edu or cke2106@columbia.edu
</p>