<% if signed_in? %>
  <div class="row give-margin-left ">
    <aside class="span4">
      <section>
        <%= render 'shared/user_info' %>
      </section>
      <section>
       <%= render 'shared/product_form' %>
      </section>
    </aside>
    <div class="span8">
      <h3>Listings from other students</h3>
      <%= render  partial: 'shared/product', collection: @products %>
    </div>
  </div>  
<% else %>
   <div class="row">
      <div class="hero-unit span7 center-box    ">
        <% provide(:title, 'Home') %>
        <h1>Columbia Exchange</h1>
        <p>
          <a href="">Columbia Exchange</a>
          --A trusted market place exclusively for   Columbia   University students to buy and sell stuff.

            Login goes here
        </p>
        <%= link_to "Sign up now!", signup_path,
                                    class: "btn btn-large btn-primary" %>

      </div>
  </div>
<% end %> 