<% if signed_in? %>
    <div class="hero-unit ">
      <div class="row give-margin-left user-box-parent ">
        <aside class="span4 user-box ">
          <section>
            <%= render 'shared/user_info' %>
          </section>
          <section>
           <%= render 'shared/product_form' %>
          </section>
        </aside>
        <div class="span8 give-padding-left give-border-left">
          <h3>Items for sale</h3>
          <%= render  partial: 'shared/product', collection: @products %>
        </div>
      </div>
    </div>
<% else %>
   <div class="row">
      <div class="hero-unit span7 center-box ">
        <% provide(:title, 'Home') %>
        <h1><span class="color-blue">C</span>olumbia E<span class="color-blue">x</span>change</h1>
        <BR/>
        <p>
          A trusted market place exclusively for   Columbia   University students to buy and sell stuff.
        </p>
        <br/>
        <%= link_to "Sign up now!", signup_path,
                                    class: "btn btn-large signup-btn" %>

      </div>
  </div>
<% end %> 