<div class= "categories-div">
	<input type="button" value="Books">
	
	<input type="button" value="Kitchen Ware" onclick="JavaScript:alert('This should do something!')" />
	<input type="button" value="" onclick="JavaScript:alert('This should do something!')" />
</div>